<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Wordpress Query Application</div>
        <div class="chat-body">
            
            <div class="message-display">
                <p><strong>{{ messages.sender }}: </strong>{{ messages.content }}</p>
                <!-- {% for message in messages %}
        <p><strong>{{ message.sender }}: </strong>{{ message.content }}</p>
    {% endfor %} -->
            </div>
            
            <div class="user-input" method="POST" action="/airesponse">
                <input type="text" placeholder="User Query" id="userInput">
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
    <script src="/static/script.js"></script>

    <!-- <script src="script.js"></script> -->
</body>
</html>